/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Whitney,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 

.container {
    width: 73%;
    margin: auto;
    padding: 30px 0 100px;
    text-align: center;
}

button {
    padding: 7px 10px;
    border-radius: 15px;
    border: 0;
}

button.call-to-action {
    font-size: 23px;
    padding: 14px 17px;
    border-radius: 27px;
    margin-left: 23px;
    color:rgb(99, 97, 97);
}

button.call-to-action.open {
    background-color: black;
    color:white;
}

p {
    font-size: 20px;
    color:rgb(58, 57, 57);
    word-spacing: 5px;
    line-height: 1.6;
}

h3{
    margin-bottom: 20px ;
    font-size: 60px;
}

.text {
    text-align: left;
}
/* Header */

.jumbo p {
    color: white;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;; 
}

.logo img {
    height: 30px;
}

.logo {
    float:left;
}

a {
    color:white;
    text-decoration: none;
    margin: 0 30px;
}
nav {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 100px;
}

ul{
    display: inline-block;
    line-height: 31px;
}

ul li{
    display: inline-block;
}

.sign-in {
    background-color: white;
    float:right;   
}

.jumbo{
    width: 700px;
    margin: auto;
}

h1 {
    font-size: 40px;
    margin-bottom: 35px;
}

h1 ~ p {
    margin-bottom: 20px;
}





/* Main content */

.illustration.left {
    text-align: left;
}
.illustration.right {
    text-align: right;
}

main.container section{
    margin-bottom: 300px;
    margin-top: 100px;
}

.illustration {
    width: 65%;
    float:left;
   
}

.text {
    width: 35%;   
     float:left;
}

.last-section h3{
    font-size: 50px;
}
main section.last-section{
    margin-bottom: 0;
}

.player img{
    width: 100%;
}

.cta button.call-to-action {
    color:white;
    background-color: cornflowerblue;
}

/* Footer */

footer {
    margin-top: 50px;
    /* debug */
    height: 300px;
    background-color: black;
}

